In [2]:
import pandas as pd

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv("/Users/vishalbarad/Desktop/Python/Regression/multipleregression/fuel_type.csv")

In [5]:
df

     car    price    fuel
0    BMW   700000     gas
1    MER   800000  diesel
2  Swift   200000  diesel
3  Honda   100000     gas
4    Far  1000000     gas

## Here regression only predict continus (numeric) values nut here we have
## string value (fuel:gas,diesel) so we need dummy column as follw

In [6]:
p = pd.get_dummies(df['fuel'])

In [7]:
p

   diesel  gas
0       0    1
1       1    0
2       1    0
3       0    1
4       0    1

In [8]:
df = pd.concat([df,p], axis=1)

In [10]:
df

     car    price    fuel  diesel  gas
0    BMW   700000     gas       0    1
1    MER   800000  diesel       1    0
2  Swift   200000  diesel       1    0
3  Honda   100000     gas       0    1
4    Far  1000000     gas       0    1

In [13]:
df.drop(['fuel','gas'],axis=1)

     car    price  diesel
0    BMW   700000       0
1    MER   800000       1
2  Swift   200000       1
3  Honda   100000       0
4    Far  1000000       0

In [14]:
reg = LinearRegression()

In [15]:
reg.fit(df[['price']],df['diesel'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
reg.predict([[1800000]])#so this is how we get gas car

array([0.15686275])