In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv("/Users/vishalbarad/Desktop/Python/Regression/multipleregression/carprice.csv")

In [5]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

### handel missing value

In [6]:
new_bed = df['bedrooms'].mean()

In [7]:
new_bed

4.2

In [8]:
type(new_bed)

float

In [9]:
df['bedrooms'] = df['bedrooms'].fillna(new_bed)

In [10]:
df['bedrooms']

0    3.0
1    4.0
2    4.2
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [11]:
df['bedrooms'] = df['bedrooms'].astype(int)

In [12]:
df['bedrooms']

0    3
1    4
2    4
3    3
4    5
5    6
Name: bedrooms, dtype: int64

In [13]:
reg = LinearRegression()

In [14]:
reg.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### predict the price for area=3500,bedrooms=2,age=40

In [15]:
reg.predict([[3500,2,40]])

array([531050.59247343])

In [16]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
reg.intercept_

221323.00186540425