In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/vishalbarad/Desktop/Python/Regression/multipleregression/carprice.csv")

In [4]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

## Noramlization (min-max normalization)

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
print(scaler.fit_transform(df[['age','price']]))

[[0.54545455 0.        ]
 [0.31818182 0.05769231]
 [0.45454545 0.23076923]
 [1.         0.17307692]
 [0.         0.80769231]
 [0.         1.        ]]

### as you can see that Normalization rescale the features between the range of 0-1

## Standarization (z-score normalization)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
print(scaler.fit_transform(df[['age','price']]))

[[ 0.46257302 -0.98717986]
 [-0.19824558 -0.8365931 ]
 [ 0.19824558 -0.38483283]
 [ 1.78421022 -0.53541959]
 [-1.12339162  1.12103476]
 [-1.12339162  1.62299062]]